.larg-pagina{
	max-width:1400px;
}
.larg-img-perfil{
	width:75%;
}
.primeira-habilidade{
	width:70%;
}
.segunda-habilidade{
	width:80%;
}
.terceira-habilidade{
	width:90%;
}h
.quarta-habilidade{
	width:100%;
}
.primeiro-idioma{
	width:40%;
}
.segundo-idioma{
	width:70%;
}

