
<div class="content margin-top larg-pagina content" role="main">
  <div class="w3-row-padding">
    <div class="w3-third">
      <div class="w3-content w3-card w3-white w3-margin-bottom">
        <div class="w3-container w3-white text-grey w3-grid-4">
          <div class="w3-display-container">
            <img
              src="../assets/perfil.jpg"
              alt="Gustavo Ferreira"
              style="width: '75%'"
            />
            <div class="w3-display-bottomleft w3-container w3-text-white">
              <h2>Gustavo Ferreira</h2>
            </div>
          </div>
          <div class="w3-container">
            <p>
              <i
                class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"
              ></i>
              Engenheiro da Computação
            </p>
            <p>
              <i
                class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"
              ></i>
              Itu-SP, Brasil
            </p>
            <p>
              <i
                class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"
              ></i>
              gfmb94@gmail.com
            </p>
            <p>
              <i
                class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"
              ></i>
              (11)99722-3714
            </p>
            <hr />
            <p class="w3-large"></p>
            <h3 class="w3-text-grey">
              <i
                class="fa fa-asterisk fa-fw w3-margin-right w3-large w3-text-teal"
              ></i>
              Habilidades
            </h3>
            <p>Adobe Photoshop</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div
                class="w3-container w3-center w3-round-xlarge w3-teal"
                style="width: 70%"
              >
                70%
              </div>
            </div>
            <p>Adobe Illustrator</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div
                class="w3-container w3-center w3-round-xlarge w3-teal"
                style="width: 80%"
              >
                80%
              </div>
            </div>
            <p>Adobe Premiere</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div
                class="w3-container w3-center w3-round-xlarge w3-teal"
                style="width: 90%"
              >
                90%
              </div>
            </div>
            <p>HTML e CSS</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div
                class="w3-container w3-center w3-round-xlarge w3-teal"
                style="width: 100%"
              >
                100%
              </div>
            </div>
            <p class="w3-large"></p>
            <h3 class="w3-text-grey ">
              <i
                class="fa fa-asterisk fa-fw w3-margin-right w3-large w3-text-teal"
              ></i>
              Idiomas
            </h3>
            <p>Inglês</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div
                class="w3-container w3-center w3-round-xlarge w3-teal"
                style="width: 40%"
              >
                40%
              </div>
            </div>
            <p>Espanhol</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div
                class="w3-container w3-center w3-round-xlarge w3-teal"
                style="width: 70%"
              >
                70%
              </div>
            </div>
            <br />
          </div>
          <br />
        </div>
      </div>
    </div>
    <div class="w3-twothird">
      <div class="w3-content w3-card w3-white w3-margin-bottom">
        <h2 class="w3-container w3-text-grey w3-padding-16">
          <i
            class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"
          ></i>
          Experiências
        </h2>
        <div class="w3-container">
          <h5 class="w3-text-grey">
            <b>Professor de Informatica | Microcamp</b>
          </h5>
          <h6>
            <i class="fa fa-calendar fa-fw w3-text-teal"></i>
            Out-2017
            <span class="w3-round w3-tag w3-teal">Atualmente</span>
          </h6>
          <p>
            Monitoramento e desenvolvimento de aulas didáticas em programação
            web, desenvolvimento mobile, designer gráfico e informática.
            Pacote Office: Word, Excel, PowerPoint, Project e Access
            Desenvolvimento web: HTML, CSS3 e JavaScript. Desenvolvimento Mobile:
            Cordova, React Native e Phonegap. Design Grafico: Illustrator,
            Photoshop, Corel Draw, Premiere, DreamWeaver, Animation, Muse.
            Desenvolvimento Games: Unity, 3Ds Max, FL Studio e Blender.
          </p>
        </div>
        <div class="w3-container">
          <h5 class="w3-text-grey">
            <b>Professor de Informatica para Internet  e Analise e Desenvolvimento de Sistemas | Proz</b>
          </h5>
          <h6>
            <i class="fa fa-calendar fa-fw w3-text-teal"></i>
            Out-2022
            <span class="w3-round w3-tag w3-teal">Atualmente</span>
          </h6>
          <p>
            Monitoramento e desenvolvimento de aulas didáticas em programação
            web, desenvolvimento mobile, designer gráfico e informática.
            Linguagens: Java (EE, SE, SF e SP) e Python. Banco de Dados SQLite
            Desenvolvimento web: HTML CSS3 JavaScript. Desenvolvimento Mobile:
            React Native e Android Studio.
          </p>
        </div>
        <div class="w3-container">
          <h5 class="w3-text-grey">
            <b>Técnico Operacional Jr | RUMO</b>
          </h5>
          <h6>
            <i class="fa fa-calendar fa-fw w3-text-teal"></i>
            Jun-2014 até Jan-2016
          </h6>
          <p>
            Realizar atendimento de campo em AMV's e DDV's e Tecnologia Embarcada em atividades preventivas e corretivas.Levantamento de Estoque Embarcamento de equipamentos.
            Atividades: Controle de Frotas, Gestão de Ponto, Gestão de Estoque e Equipamentos, Controle de atividades diárias, Levantamentos de atividades preventivas e corretivas em AMV's e DDV's. Levantamento diário de Tecnologia Embarcada em Locomotivas. Fechamento de Ordens de Serviço.
          </p>
        </div>
      </div>
      <div class="w3-content w3-card w3-white w3-margin-bottom">
        <h2 class="w3-container w3-text-grey w3-padding-16">
          <i
            class="fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge w3-text-teal"
          ></i>
          Educação
        </h2>
        <div class="w3-container">
          <h5 class="w3-opacity">
            <b>Engenharia de Software | Faculdade Anhanguera</b>
          </h5>
          <h6 class="w3-text-teal">
            <i class="fa fa-calendar fa-fw w3-text-teal"></i>
            2021 - 2022
          </h6>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas
            porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies,
            purus lectus malesuada libero, sit amet commodo magna eros quis
            urna. Nunc viverra imperdiet enim. Fusce est. Vivamus a tellus.
          </p>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity">
            <b>Engenharia da Computação | FACTS</b>
          </h5>
          <h6 class="w3-text-teal">
            <i class="fa fa-calendar fa-fw w3-text-teal"></i>
            2014 - 2019
          </h6>
          <p>
            Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et
            orci. Aenean nec lorem. In porttitor. Donec laoreet nonummy augue.
          </p>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity">
            <b>Teécnico em Logistica | ETEC</b>
          </h5>
          <h6 class="w3-text-teal">
            <i class="fa fa-calendar fa-fw w3-text-teal"></i>
            2011 - 2012
          </h6>
          <p>
            Suspendisse dui purus, scelerisque at, vulputate vitae, pretium
            mattis, nunc. Mauris eget neque at sem venenatis eleifend. Ut
            nonummy. Fusce aliquet pede non pede. Suspendisse dapibus lorem
            pellentesque magna. Integer nulla.
          </p>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>

